@use "../util/" as u;

.feature {
  border: 1px solid darkorange;
  display: grid;
  gap: u.rem(24);

  &__image {
  }

  &__headline {
    font-size: var(--f-xl);
    font-weight: 800;
  }

  &__button {
    display: inline-block;
    background-color: var(--c-red);
    color: var(--c-white);
    font-size: u.rem(14);
    font-weight: 700;
    text-transform: uppercase;
    padding: u.rem(12) u.rem(32);
    letter-spacing: 0.31em;
    justify-self: start;
  }
}
